.contact-section {
    height: 700px;
    width: 100%;
    margin-top: 100px;
    background-color: rgba(171, 124, 152, .85);
    position: relative;
}

.contact-header {
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    text-align: center;
    /* text-shadow: indigo; */
    margin-top: 35px;
}
.contact-box {
    height: 600px;
    width: 45%;
    border: 2px solid white;
    /* float:left;
    margin-left: 55px; */
    position: absolute;
    top: 30px;
}

.map {
    left: 70px;
    text-align: center;
}

.form {
    right: 70px;
    text-align: center;
}
